@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #27292c;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  padding: 0 2rem;
}

header .navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar .nav-link {
  text-decoration: none;
  color: #b8b5b5;
  font-size: 0.9rem;
  position: relative;
  text-transform: uppercase;
}

header .navbar .nav-link:after {
  content: '';
  position: absolute;
  background-color: #fa923c;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -.5em;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

header .navbar .nav-link:hover {
  color: #fa923c;
}

header .navbar .nav-link:hover:after {
  width: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  color: #fa923c;
}

header .navbar .logo {
  font-size: 1.5rem;
}

header .navbar .logo a {
  color: #fa923c;
}

header .navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

header .navbar .links li {
  list-style: none;
}

@media (max-width: 800px) {
  header .navbar .main-nav {
    opacity: 0;
    position: absolute;
    top: 4rem;
    left: 50%;
    width: 300px;
    height: 250px;
    margin-left: -150px;
    background: rgba(255, 255, 255, 0.151);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    border-radius: 10px;
  }
  header .navbar .open {
    opacity: 1;
  }
  header .navbar .open .links {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar .open .links li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .navbar .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100px;
}

header .navbar .languages .lang {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  border: solid #b8b5b5 2px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-transition: scale 0.5s;
  transition: scale 0.5s;
}

header .navbar .languages .lang:hover {
  scale: 1.20;
}

header .navbar .languages .it-lang {
  background-image: url(https://www.worldometers.info/img/flags/it-flag.gif);
}

header .navbar .languages .en-lang {
  background-image: url(https://www.worldometers.info/img/flags/uk-flag.gif);
}

header .navbar .languages .selected-lang {
  border: solid #fa923c 3px;
}

header .navbar .toggle-btn {
  color: #fa923c;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 800px) {
  header .navbar .toggle-btn {
    position: absolute;
    top: 18px;
    left: 49%;
    display: block;
  }
}

.section-hero {
  width: 90%;
  margin: auto;
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b8b5b5;
}

.section-hero .hero-text {
  padding: 40px 20px;
}

.section-hero .hero-text .accent {
  color: #e7dddd;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

.section-hero .hero-text .accent:hover {
  background: #fa923c;
  color: #27292c;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.section-hero .hero-text h1 {
  padding-bottom: 30px;
}

.section-hero .hero-text p {
  width: 60%;
  font-size: 1.2rem;
}

.section-hero .hero-text .btn-section {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-hero .hero-text .btn-section button {
  margin-right: 50px;
}

.section-hero .hero-text .btn-section .btn {
  padding: .75em 2.5em;
  min-width: 250px;
  font-size: 1.2em;
  background: #27292c;
  color: #fa923c;
  border: solid 3px #fa923c;
  border-radius: 5px;
}

.section-hero .hero-text .btn-section .btn:hover, .section-hero .hero-text .btn-section .btn:focus {
  background: #fa923c;
  color: #27292c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
