// Colors
$primary: rgba(55, 57, 60, 1)
$primary-accent: rgba(39, 41, 44, 1)
$primary-blur: rgba(39, 41, 44, 0.4)
$secondary: rgba(250, 146, 60, 1)
$light-primary: rgb(184, 181, 181)

$white: rgb(231, 221, 221)
$dark: #352d2d

$text-primary: $primary
$text-secondary: $secondary
$text-inverse: $white

// Typo
$text-light: 300
$text-normal: 400
$text-sembold: 600
$text-bold: 700
