$primary: rgba(39, 41, 44, 1)
$secondary: rgba(250, 146, 60, 1)
$light-primary: #b8b5b5

$white: rgb(231, 221, 221)
$dark: #352d2d

$text-primary: $primary
$text-secondary: $secondary
$text-inverse: $white
