.section-hero
    width: 90%
    margin: auto
    padding: 8rem 0
    display: flex
    color: $light-primary
    @include media-query (lg)
        display: block
        text-align: center
        padding: 5rem 0
    .hero-text
        width: 60%
        padding: 40px 20px
        @include media-query (lg)
        width: 90%
        margin: 0 auto
        h1
            padding-bottom: 30px
        p
            font-size: 1.5rem
        .btn-section
            padding-top: 70px
            display: flex
            justify-content: flex-start
            align-items: center
            @include media-query (lg)
                padding-top: 40px
                justify-content: space-evenly
            button
                margin-right: 50px
                @include media-query (lg)
                    margin-right: 0
    .hero-img
        width: 40%
