.hero
    width: 80%
    margin: auto
    padding: 8rem 0
    display: flex
    .hero-text
        width: 60%
        text-align: center
        padding: 50px 20px
        .accent
            color: $text-inverse
        p
            width: 80%
            margin: auto
            font-size: 1.4rem
    .hero-img
        width: 40%
        display: flex
        justify-content: center
        img
            border-radius: 10px
            width: 80%

.call-to-action
    margin: 50px auto 0
    width: 80%
    display: flex
    justify-content: space-between
