.btn
    padding: .75em 2.5em
    min-width: 250px
    font-size: 1.2em
    background: $primary
    color: $secondary
    border: solid 3px $secondary
    border-radius: 5px
    &:hover,
    &:focus
        background: $secondary
        color: $primary
        transition: all 0.5s
