*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: $primary
    font-family: $font-stack
    scroll-behavior: smooth

.dark-theme
    color: $text-secondary
.light-theme
    background: $light-primary
    color: $primary

.unstyled-list
    margin: 0
    padding: 0
    list-style: none

.section
    padding: 8rem 0
